.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  .technology {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .scale {
    width: 10rem;
    height: 1rem;
    border: 2px solid var(--highlight-color);
    border-radius: 1rem;
    justify-self: end;
  }

  .logo {
    width: 3rem;
    max-height: 3rem;
    object-fit: contain;
  }

  .logo[alt='Next.js'] {
    background-color: white;
    border-radius: 50%;
    background: radial-gradient(circle at center, white 0, transparent 100%);
  }
}
