.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 40px;

  .technology {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .scale {
    width: 10rem;
    height: 1rem;
    border: 2px solid var(--highlight-color);
    border-radius: 1rem;
    justify-self: end;
  }
}
