.box {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;
  border: 2px solid #444;
  width: fit-content;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  min-width: 400px;

  img {
    background-color: var(--highlight-color);
    padding: 5px 10px 5px 10px;
    width: 100px;
    margin: 0;
  }

  .text {
    display: grid;
    row-gap: 5px;

    span {
      font-size: 0.7rem;
      opacity: 0.7;
    }
  }
}

.box:hover {
  transform: translatex(5px);
}

.overlay {
  display: flex;
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background: #000000b3;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100%;
}

.closeBtn {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 10px;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}

.numPages {
  position: absolute;
  background-color: transparent;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 2px;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .arrowUp {
    width: 2rem;
    rotate: 180deg;
  }

  .arrowDown {
    width: 2rem;
  }
}
