.experienceItemContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  height: fit-content;
  padding: 2rem;

  .range {
    position: relative;
    font-weight: 500;
    font-size: small;
    left: -3rem;
    top: 0;
    border: 2px solid #007ced;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    border-radius: 30px;
  }

  .activities {
    list-style-position: inside;
    line-height: 1.75rem;
    font-size: small;
  }
}

.experienceItemContainer:last-child {
  border-bottom: none;
}
