.resumeContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  padding: 1rem;

  .experience {
    justify-self: end;
    width: fit-content;
  }

  .certificates {
    display: grid;
    row-gap: 1rem;
  }
}

.header {
  border-bottom: 2px solid;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--secondary-color),
      transparent
    )
    1;
  padding-bottom: 0.3rem;
  width: fit-content;
  margin-bottom: 2rem;
}
