.home {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: center;
    justify-items: center;

    .me {
      width: 25rem;
      border-radius: 50%;
      border: 15px solid rgb(83, 83, 83);
      justify-self: end;
    }

    .description {
      display: grid;
      width: 30rem;
      justify-self: start;
      gap: 10px;

      p {
        line-height: 1.2rem;
      }

      .name {
        color: var(--highlight-color);
        font-size: 3rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
      }
    }
  }

  .download {
    border: 2px solid var(--secondary-color);
    width: fit-content;
    padding: 12px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease;

    a {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      transition: background-color 0.3s ease;
    }

    &:hover {
      background-color: var(--secondary-color);
    }

    &:hover a {
      background-color: var(--secondary-color);
    }
  }
}
