.skillsContainer {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 50px;

  .col1 {
    grid-column: 1/2;
  }

  .col2 {
    grid-column: 2/3;
  }

  .col3 {
    grid-column: 3/4;
  }
}
