.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
  justify-content: space-between;
  font-size: 2rem;
  z-index: 100000;

  .logo {
    color: var(--highlight-color);
    letter-spacing: 0.2rem;
  }

  .navLinks {
    display: flex;
    gap: 50px;
  }
}

a {
  text-decoration: none;
  color: var(--navlink-color);
  font-size: 1.1rem;
}

a:hover {
  color: var(--highlight-color);
  transition: 0.5s ease;
}
