* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: #222222;
  color: #d7d7d7;
  font-weight: 300;
}

:root {
  --highlight-color: #efefef;
  --navlink-color: #a7a7a7;
  --secondary-color: #007ced;
  --navbar-height: 15vh;
}

h2,
h3 {
  font-weight: bold;
}

/* Stil für die gesamte Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Breite der vertikalen Scrollbar */
}

/* Stil für den Track (Hintergrund) der Scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Heller Hintergrund für den Track */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Stil für den Daumen (Schieber) der Scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Farbe des Daumens */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Stil für den Daumen (Schieber), wenn er hovered wird */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Dunklere Farbe, wenn der Benutzer darüber fährt */
}
